# Scraping The Data From Twitter And Then Exporting To Excel

#### Step1:Import The Following Libraries

In [2]:
import os 
import tweepy as twp
import pandas as pd
import json
import matplotlib.pyplot as plt 
from geopy import OpenMapQuest
from textblob import TextBlob 
import re 
import time 
import datetime
import twitter 
import seaborn as sns
import preprocessor as p
import numpy as np 
import sys
import nltk 
from urllib.parse import unquote
import itertools
import collections
from operator import itemgetter
from wordcloud import WordCloud
from nltk.corpus import stopwords         
import networkx

#### Prepare To Ignore Warnings

In [4]:
import warnings                                
warnings.filterwarnings("ignore")

#### Apply for the developer keys from twitter at https://developer.twitter.com/en/apply-for-access

#### Import the keys as follows, they are starred out for security purposes because each indivual my apply through twitter themeslves for access to developer account.

In [14]:
consumer_key='*************************'
consumer_secret='**************************************************'
access_token='**************************************************'
access_token_secret='*********************************************'

#### Twitter Has Almost A Dozen APIs To Use For Python. More information can be found at the following website. https://developer.twitter.com/en/docs/twitter-api/tools-and-libraries

#### Use The Following Sequence Of Coding To Utilize The Tweepy API. The Documents Can Be Obtained At www.tweepy.org

In [16]:
api = twp.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

#### In The Coding Below, A Time Lag Is Choosen For The Time Period In Which You Want To Obtain The Tweets

In [17]:
today = datetime.date.today()
yesterday= today - datetime.timedelta(days=1)
today, yesterday

(datetime.date(2021, 6, 10), datetime.date(2021, 6, 9))

#### The Following Formula Was For San Francisco Retweets Were Filtered Out In Order To Obtain Unique Information

In [18]:
tweets_list = twp.Cursor(api.search, q="san francisco -filter:retweets since:" + str(yesterday)+ " until:" + str(today),tweet_mode='extended', lang='en').items()

#### The Same "tweets_list" Function Was Adjusted And The Term 'san francisco' Was Substituted With 'new york city', vancouver, and toronto.

#### In The Case Of 'new york city', the words 'new', 'york', 'city', and 'nyc' Were Also Filtered To Not Distort The n-gram Analysis. As well, the in

#### The Code Block Mentioned Below Was Then Used To Convert The Tweets To A List

In [19]:
tweets = []
time = []
for i in tweets_list:
    tweets.append(i.full_text)
    time.append(i.created_at)

Rate limit reached. Sleeping for: 818
Rate limit reached. Sleeping for: 816

#### From There The Data Was Converted From A List To A Dataframe Using The Pandas Library

In [20]:
dfsf1 = pd.DataFrame({'tweets':tweets, 'time':time})

In [21]:
dfsf1

                                                 tweets                time
0     Santa Clara Water Board Recommend Mandatory 15... 2021-06-09 23:59:59
1     @strokeitandsee can't get over seeing someone ... 2021-06-09 23:59:59
2     Seattle, Portland, San Francisco, LA, anything... 2021-06-09 23:59:45
3     This is consistent with research that showed a... 2021-06-09 23:59:19
4     Check out BKFâ€™s very own Ryan Bernal discussin... 2021-06-09 23:58:12
...                                                 ...                 ...
4410  Mystery &amp; romance in 1958 San Francisco - ... 2021-06-09 00:00:09
4411  June is #PrideMonth ðŸŒˆ \n \nHere's what's going... 2021-06-09 00:00:05
4412  Save the date: On Tuesday, June 22, San Franci... 2021-06-09 00:00:04
4413  Current temps around the US right now: Seattle... 2021-06-09 00:00:03
4414  San Francisco Bay as seen from The Lawrence Ha... 2021-06-09 00:00:02

[4415 rows x 2 columns]

#### From Here The Data Was Then Exported To A CSV File. This Was Done So That The Data Could Be Saved And ReImported Into Python To Be Worked On For Later.

In [22]:
dfsf1.to_csv('output4151.csv', mode='a', header=False)

In [23]:
dfsf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4415 entries, 0 to 4414
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  4415 non-null   object
 1   time    4415 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 69.1+ KB

In [24]:
dfsf1.to_csv('output4151.csv', index=False)